*[role="form"] {
    max-width: 50%;
    padding: 20px 40px;
    margin: auto;
    border-radius: 0.5em;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
    margin: 2% 0% 3% 0%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
