{% extends "layout.html" %}
{% block title %}
    Contact Page
{% endblock %}


{% block content %} 
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small></h1>
            </div>
        </div>
    </div>
</div>

<!--
{% if mailSent %}
    <div class="alert alert-success" role="alert">
        Your message has been sent !
    </div>
{% elif mailSent == False %}
    <div class="alert alert-danger" role="alert">
        <b>Some error occured...!</b> Your message has not been sent.
    </div>
{% endif%}
-->

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name"> Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" name="name" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required="required" /></div>
                        </div>

                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required" name="service">
                                <option value="na" selected="">Choose One</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" name="message" 
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
            <address>
                <strong>WordFlow, Inc.</strong><br>
                K.J. Somaiya College of Engineering<br>
                Vidyavihar(E), Mumbai, India<br><br>
                <strong title="Phone">
                    Phone number: </strong>
                (123) 456-7890
            </address>

            <address>
                <strong>Email address: </strong><br>
                <a href="mailto:wordflow@gmail.com">wordflow@gmail.com</a>
            </address>
            </form>
        </div>
    </div>
</div>
{% endblock %}