{% extends "layout.html" %}

{% block content %}
<div class="container">
	{% if posts %}
	<div class="row">
        <div class="col-md-8">
            <div class="row mb-2">
                <div class="col-md-8">
        	        <h1 class="my-4">Welcome
        	          <small style="color: black;">{{username}}</small>
        	        </h1>
    	        </div>
    			<div class="col-md-4">
    				<a href="/{{username}}/new/" class="btn btn-primary py-auto mt-4 pull-right"><span class="pr-3"><i class="fas fa-plus"></i></span><b>New Blog</b></a>
    			</div>
		    </div>
        {% for post in posts %}
        <div class="card mb-5 border-primary">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="By - {{post.author}}">
            <div class="card-header bg-transparent border-primary">
              <p class="card-text mb-0 text-default"><b><i class="fas fa-tags text-primary mr-2"></i> {{post.tags}}</b></p>
            </div>
            <div class="card-body border-primary">
                <h2 class="card-title">{{post.title}}</h2>
                <p class="card-text">{{post.content}}</p>
                <div class="row my-4">
                    <div class="col-md-6 col-xs-6 pl-4">
                        <a href="/{{post.author}}/view/{{post.pid}}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="col-md-6 col-xs-6 text-right">
                        <p class="mb-0 text-primary" style="font-size: 17px;"><span class="pr-3"><i class="fas fa-pencil-alt"></i></span><b> {{post.author}}</b></p>
                    </div>
                </div>
    			<!--
                <a href="/{{username}}/edit/{{post.pid}}" class="btn btn-success mx-4"><span class="px-2"><i class="fas fa-edit"></i></span> <b>Edit</b></a>
    			<a href="/delete/{{post.pid}}" class="btn btn-danger"><span class="px-2"><i class="fas fa-trash-alt"></i></span>Delete</a>
                -->
            </div>
            <div class="card-footer text-muted border-primary">
          	    <div class="row">
	          	    <div class="col-md-6">
                        Posted on {{post.created_on}}
	                </div>
                    <div class="col-md-6 text-right">
                        Updated on {{post.last_updated}}
                    </div>
                </div>
            </div>
        </div>
		{% endfor %}
        <!-- Pagination -->
        <!-- <ul class="pagination justify-content-center mb-4">
          <li class="page-item disabled">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul> -->

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Help References</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0" id="category">
                  <li>
                    <a href="https://www.nomadicmatt.com/travel-blogs/improve-your-travel-writing/">Travel Blog</a>
                  </li>
                  <li>
                    <a href="https://cmnh.lstmed.ac.uk/how-to-write-an-academic-blog-in-5-simple-steps">Education Blog</a>
                  </li>
                  <li>
                    <a href="https://cookieandkate.com/top-20-tips-for-food-blogging/">Food Blog</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0" id="category">
                  <li>
                    <a href="https://www.blogtyrant.com/start-a-fashion-blog/">Fashion Blog</a>
                  </li>
                  <li>
                    <a href="https://www.outbrain.com/help/advertisers/music-blog/">Music Blog</a>
                  </li>
                  <li>
                    <a href="https://www.wikihow.com/Write-a-Fitness-Blog">Fitness Blog</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-4">
          <h5 class="card-header">2019 Year Ending Specials</h5>
          <div class="card-body">
            Hey <b class="text-primary">{{username}}</b>, as we are heading towards end of year 2019,
            here is a special offer for you. <br><br>
            <p>
              <b class="text-info">The Hurry-Up Limited Offer</b><br>
                Here’s a great example of a hurry-up limited offer, also known as a limited-period offer, from our community. Here's huge discount of 20 percent off for premium plan. This offer is valid till “31st December, 2019!”
                <br>
                This is your absolute last chance to get a discount on our Premium Plan, take advantage of this great offer !
            </p>
          </div>
        </div>
      </div>
    </div>

	{% elif not(current_user_posts) %}
	<div class="jumbotron bg-secondary">
	  	<div class="container">
	    	<h1 class="display-5">Welcome <small >{{username}}</small></h1>
	    	<p class="lead" style="font-size: 18px;">You haven't written any posts yet! <br><br>Write your first post. 
			<a href="/{{username}}/new/" class="btn btn-primary py-auto mx-4"><span class="pr-3"><i class="fas fa-pencil-alt"></i></span><b>New Post</b></a>
			</p>
	  	</div>
	</div>
	{% endif %}
	</div>
  <!-- <style type="text/css">
    body{
      background-color: #f5f2d0;
    }
  </style> -->
    
<!-- Modal 
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="padding-top: 0.75rem;">Delete Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you wan't to delete ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        <a href="/delete/<user>" class="btn btn-danger">Confirm</a>
      </div>
    </div>
  </div>
</div>
-->

{% endblock %}

