{% extends "layout.html" %}
{% block title %} 
    {% if userBlog %}
        Your Blogs
    {% else %}
        View Post
    {% endif %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row justify-content-between">
      <div class="col-md-10">
        {% if userBlog %}
            {% if post|length > 0 %}
          	<div class="row mb-2">
    	      	<div class="col-md-8">
        	        <h2 class="my-4">Your Blogs</h2>
    	        </div>
    			<div class="col-md-4">
    				<a href="/{{username}}/new/" class="btn btn-primary py-auto mt-4 pull-right"><span class="pr-3"><i class="fas fa-plus"></i></span><b>New Blog</b></a>
    			</div>
    		</div>
            {% endif %}
        {% endif %}
        {% if userBlog %}
            {% if post|length == 0 %}
                <div class="jumbotron bg-secondary">
                    <div class="container">
                        <h1 class="display-5">Welcome <small >{{username}}</small></h1>
                        <p class="lead" style="font-size: 18px;">You haven't written any posts yet! <br><br>Write your first post. 
                        <a href="/{{username}}/new/" class="btn btn-primary py-auto mx-4"><span class="pr-3"><i class="fas fa-pencil-alt"></i></span><b>New Post</b></a>
                        </p>
                    </div>
                </div>
            {% endif %}
            {% for p in post %}
                <div class="card mb-4 border-primary">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-header bg-transparent border-primary">
                        <p class="card-text mb-0 text-default"><b><i class="fas fa-tags text-primary mr-2"></i> {{p.tags}}</b></p>
                    </div>
                    <div class="card-body border-primary">
                        <h2 class="card-title">{{p.title}}</h2>
                        <p class="card-text">{{p.content}}</p>
                        <a href="/{{username}}/view/{{p.pid}}" class="btn btn-primary">Read More &rarr;</a>
                        <a href="/{{username}}/edit/{{p.pid}}" class="btn btn-success mx-4"><span class="px-2"><i class="fas fa-edit"></i></span> <b>Edit</b></a>
                        <a href="/delete/{{p.pid}}" class="btn btn-danger"><span class="px-2"><i class="fas fa-trash-alt"></i></span>Delete</a>
                    </div>

                    <div class="card-footer text-muted border-primary">
                        <div class="row">
                            <div class="col-md-6">
                                Posted on {{p.created_on}}
                            </div>
                            <div class="col-md-6 text-right">
                                Last Updated at {{p.last_updated}}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
                <div class="card mb-4 border-primary">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-header bg-transparent border-primary">
                        <p class="card-text mb-0 text-default"><b><i class="fas fa-tags text-primary mr-2"></i> {{post.tags}}</b></p>
                    </div>
                    <div class="card-body border-primary">
                        <h2 class="card-title">{{post.title}}</h2>
                        <p class="card-text">{{post.content}}</p>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6 text-right">
                                <p class="mb-0 text-primary" style="font-size: 17px;"><b>Written By - {{post.author}}</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted border-primary">
                        <div class="row">
                            <div class="col-md-6">
                                Posted on {{post.created_on}}
                            </div>
                            <div class="col-md-6 text-right">
                                Last Updated at {{post.last_updated}}
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
        <!-- <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.content}}</p>
            <div class="row">
            	<div class="col-md-6"></div>
            	<div class="col-md-6 text-right">
            		<p class="mb-0 text-primary" style="font-size: 17px;"><b>Written By - {{post.author}}</b></p>
            	</div>
            </div>
          </div>
          <div class="card-footer text-muted">
          	<div class="row">
	          	<div class="col-md-6">
	            	Posted on {{post.created_on}}
	            </div>
	            <div class="col-md-6 text-right">
	            	Last Updated at {{post.last_updated}}
	            </div>
            </div>
          </div>
        </div> -->
      </div>
  </div>
</div>
{% endblock %}
